/* Landing Page Styles */
.landing-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff; /* Maintain the black background to match the rest of the design */
  overflow: hidden;
}

.trans3d {
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 0);
}

#contentContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#carouselContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1000px;
  height: 1000px;
  transform: translate(-50%, -50%);
}

.carouselItem {
  width: 300px; /* Match the size of other tiles */
  height: 200px; /* Match the size of other tiles */
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -100px;
  visibility: hidden;
}

.carouselItemInner {
  width: 300px;
  height: 350px;
  position: absolute;
  background-color: #000; /* Set to black to match other tiles */
  color: #ffffff; /* Text color to match your theme */
  border-radius: 20px;
  font-size: 18px;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: -1px -1px 4px rgba(0, 0, 0, 0.35);
}

/* Responsive styles for tablets */
@media (max-width: 768px) {
  #contentContainer {
    width: 70vh;
    height: 60vh;
  }

  #carouselContainer {
    width: 800px;
    height: 800px;
  }

  .carouselItem {
    width: 250px;
    height: 180px;
    margin-left: -125px;
    margin-top: -90px;
  }

  .carouselItemInner {
    width: 250px;
    height: 180px;
    font-size: 16px; /* Slightly smaller font for readability */
  }
}

/* Responsive styles for mobile devices */
@media (max-width: 480px) {
  #contentContainer {
    width: 60vh;
    height: 50vh;
  }

  #carouselContainer {
    width: 600px;
    height: 600px;
  }

  .carouselItem {
    width: 200px;
    height: 150px;
    margin-left: -100px;
    margin-top: -75px;
  }

  .carouselItemInner {
    width: 200px;
    height: 150px;
    font-size: 14px; /* Smaller font for better fit on small screens */
  }
}