.projects-section {
  padding: 50px;
  background-color: #111; /* Dark background */
  color: #eaeaea; /* Light text color */
  text-align: center;
}

.projects-title {
  font-size: 48px;
  margin-bottom: 50px;
  font-family: 'Courier New', Courier, monospace;
  color: #f4f4f4; /* Vibrant title color */
}

.projects-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive columns */
  padding: 0 10px;
}

.project-card {
  background-color: #222; /* Slightly lighter than background */
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5); /* Stronger shadow for dark theme */
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-title {
  font-size: 18px;
  margin: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  color: rgba(173, 89, 246, 0.88); /* Softer vibrant title */
}

.project-description {
  font-size: 14px;
  line-height: 1.4;
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* For Safari */
  -webkit-box-orient: vertical;
  line-clamp: 3; /* Standard property */
  color: #eaeaea; /* Light text for contrast */
}

.tech-stack {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tech-item {
  background-color: rgba(134, 32, 224, 0.76); /* Strong vibrant color */
  color: #111; /* Dark text on vibrant background */
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tech-item:hover {
  background-color: #111; /* Revert to dark background */
  color: rgba(162, 63, 248, 0.76); /* Vibrant color for hover text */
}

.project-links {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.project-link {
  text-decoration: none;
  color: rgba(174, 81, 255, 0.808); /* Subtle vibrant color */
  border: 2px solid rgba(135, 39, 219, 0.882); /* Matches text color */
  padding: 5px 10px;
  border-radius: 25px;
  transition: background-color 0.3s ease, color 0.3s ease;
  flex: 1;
  max-width: 120px;
  text-align: center;
}

.project-link:hover {
  background-color: rgba(85, 0, 159, 0.92); /* Background matches hover color */
  color: "white"; /* Dark text on vibrant background */
}

.project-link-disabled {
  color: #858585; /* Subtle gray for disabled links */
  font-style: italic;
  text-decoration: none;
  cursor: default;
}