/* Skills.css */
.skills-section {
  padding: 60px;
  background-color: #ffffff;
  color: hsl(0, 0%, 0%);
  font-family: 'Arial', sans-serif;
  width: 90vw;
}

.skills-title {
  font-size: 48px;
  margin-bottom: 40px;
  font-family: 'Courier New', Courier, monospace;
  color: #000;
  text-align: center;
}

.skills-container {
  margin-bottom: 50px;
}

/* Basic Skill Styles */
.skill {
  margin-bottom: 20px;
}

.skill-name {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.skill-bar {
  width: 100%;
  max-width: 400px;
  background-color: #333;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.7);
}

.skill-level {
  height: 30px;
  background-color: #f0a500;
  border-radius: 20px;
  text-align: right;
  padding-right: 10px;
  color: #111;
  font-weight: bold;
  line-height: 30px;
}

/* LeetCode Stats Section */
.leetcode-title {
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 30px;
  color: #000000;
  text-align: center;
}

.leetcode-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 50%;
}

.leetcode-solved,
.leetcode-badges,
.leetcode-submissions {
  padding: 15px;
  background-color: #333;
  border-radius: 15px;
  flex: 1;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease;
  min-height: 100px;
  max-height: 100px;
}

.leetcode-difficulty {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #333;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}
.leetcode-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}

.leetcode-solved,
.leetcode-difficulty {
  flex-basis: 45%;
}

.leetcode-badges,
.leetcode-submissions {
  flex-basis: 45%;
}

.leetcode-solved:hover,
.leetcode-difficulty:hover,
.leetcode-badges:hover,
.leetcode-submissions:hover {
  transform: scale(1.05);
}

.leetcode-solved h3,
.leetcode-badges h3,
.leetcode-submissions h3 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.leetcode-solved p,
.leetcode-difficulty p,
.leetcode-badges p,
.leetcode-submissions p {
  color: #aaa;
  margin: 5px 0;
}

/* Difficulty Colors */
.easy {
  color: #00ff99;
}

.medium {
  color: #ffcc00;
}

.hard {
  color: #ff6666;
}

/* Loader */
.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #4CAF50;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}